h1 Заголовок
            //- mixin card(title, text, img)
            //-     .card 
            //-         img(src=img, alt=title).card__img 
            //-         h3.card__title= title
            //-         p.card__text= text 
            mixin card(args={})
                .card 
                    img(src=args.img, alt=title).card__img 
                    h3.card__title= args.title
                    p.card__text= args.text
            section.features
                div.container 
                    p.features__subtitle Features
                    h2.features__title Food with a New Passion
                    div.features__row 
                        //- +card('Quality Food', 'It can be a very secure path to earn good money and make you very successful creative entrepreneur.', "./assets/imgs/house.svg")
                        //- +card('Food Delivery', 'It can be a very secure path to earn good money and make you very successful creative entrepreneur.', "./assets/imgs/bike.svg")
                        //- +card('Super Taste', 'It can be a very secure path to earn good money and make you very successful creative entrepreneur.', './assets/imgs/smile.svg')

                        +card({
                            title: 'Quality Food',
                            text: 'It can be a very secure path to earn good money and make you very successful creative entrepreneur.',
                            img: './assets/imgs/house.svg'
                        })
                        +card({
                            title: 'Food Delivery',
                            text: 'It can be a very secure path to earn good money and make you very successful creative entrepreneur.',
                            img: './assets/imgs/bike.svg'
                        })
                        +card({
                            title: 'Super Taste',
                            text: 'It can be a very secure path to earn good money and make you very successful creative entrepreneur.',
                            img: './assets/imgs/smile.svg'
                        })